html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: cursive;
    background-color: #FDF6E0;
}

nav a {
    text-shadow: 1px 1px black;
}

h1 {
    text-shadow: 3px 3px darkorange;
}

.txt {
    color: red;
    font-size: 1.3rem;
}

img {
    width: 100%;
    border-radius: 25px;
}

a {
    color: #3E51AA;
}

a:hover {
    color: white;
    background-color: #3E51AA;
}