@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center row">
    <h1 class="display-4">Welcome to RP Movie Theatre!</h1>
    <div class="col-md-6 mt-5">
        <h2>Get a free ticket by signing up for our membership today!</h2>
        <p class="txt mt-3">We offer special deals for our members every month.</p>
        <h2 class="display-6 text-start mt-5">Showtimes</h2>
        <h5 class="text-start">Monday - Friday: 1pm-4pm and 6pm-9pm</h5>
        <h5 class="text-start">Saturday & Sunday: 10am-1pm and 3pm-6pm</h5>
    </div>
    <div class="col-md-6 mt-5">
        <img src="~/images/film.jpg" alt="film" class="img-fluid" />
    </div>
</div>